actividad_13/punto1.dtd

<!ELEMENT biblioteca (nombre,seccion*)>

    <!ELEMENT nombre (#PCDATA)>

    <!ELEMENT seccion (libro*)>
    <!ELEMENT libro (titulo, autor, anio?, resumen, editorial)>
    
    <!ELEMENT titulo (#PCDATA)>
    <!ELEMENT autor (#PCDATA)>
    <!ELEMENT anio (#PCDATA)>
    <!ELEMENT resumen (#PCDATA)>
    
    <!ELEMENT editorial (nombre, ciudad, codigo?)>
    <!ELEMENT nombre (#PCDATA)>
    <!ELEMENT ciudad (#PCDATA)>
    <!ELEMENT codigo (#PCDATA)>
