actividad_14/actividad14.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="empresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre">
            <xs:simpleType>
             <xs:restriction base="xs:integer">
                <xs:minInclusive value="3"/>
                <xs:maxInclusive value="15"/>
            </xs:restriction>
             </xs:simpleType>
        </xs:element>
        <xs:element name="NIF"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:integer" use="required" fixed="9"/>
    </xs:complexType>

  </xs:element>
</xs:schema>
      
       